<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="static/main.css">
    <title>StockSense: Empowering Your Investments</title>
</head>
<body>
    <h1>StockSense: Empowering Your Investments</h1>
    <p>Welcome to StockSense, the place to get insights and predictions about the stock market.</p>
    
    <div class="news-container">
        <h2>Latest News</h2>
        <div class="news-item">
            <h3>Company AAPL Reports Strong Earnings</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae urna arcu. Duis consectetur arcu eu enim luctus, ac pharetra orci tristique.</p>
        </div>
        <div class="news-item">
            <h3>Stock Market Reaches New All-Time High</h3>
            <p>Sed eu sagittis lorem. Vestibulum laoreet mauris quis dolor iaculis, in auctor lectus vulputate. Nulla facilisi.</p>
        </div>
        <div class="news-item">
            <h3>Investors Anticipate Market Correction</h3>
            <p>Maecenas nec lacus at felis tincidunt tincidunt. Donec gravida euismod nibh vel fermentum.</p>
        </div>
    </div>
    
    <form action="/" method="POST">
        <input type="text" name="symbol" id="symbol" placeholder="Enter a stock symbol">
        <input type="submit" value="Submit">
    </form>
</body>
</html>

